- const items =[]
- items.push({img: '/dist/images/sp-1.jpg', name: 'Viên uống đẹp da', price: '250.000đ'})
- items.push({img: '/dist/images/sp-2.jpg', name: 'Kem dưỡng da toàn thân', price: '250.000đ'})
- items.push({img: '/dist/images/sp-3.jpg', name: 'Kem trị nám', price: '250.000đ'})
- items.push({img: '/dist/images/sp-4.jpg', name: 'Gel rửa mặt hạt nano vàng', price: '250.000đ'})
- items.push({img: '/dist/images/sp-5.jpg', name: 'Kem trị mụn', price: '250.000đ'})
- items.push({img: '/dist/images/sp-6.jpg', name: 'Kem dưỡng trắng trang điểm toàn thân', price: '250.000đ'})
- items.push({img: '/dist/images/sp-7.jpg', name: 'Kem dưỡng trắng hồng da', price: '250.000đ'})
- items.push({img: '/dist/images/sp-8.jpg', name: 'Kem dưỡng trắng da makeup ', price: '250.000đ'})
- const sliders =[]
- sliders.push({img: '/dist/images/banner.jpg'})
- sliders.push({img: '/dist/images/slide-1.jpg'})
- sliders.push({img: '/dist/images/slide-3.jpg'})
- sliders.push({img: '/dist/images/slide-2.jpg'})
- const posts =[]
- posts.push({img: '/dist/images/news-1.jpg', title: 'Cách chọn kem lót phù hợp loại da 2', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})
- posts.push({img: '/dist/images/news-2.jpg', title: 'Cách chọn kem lót phù hợp loại da', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})
- posts.push({img: '/dist/images/news-3.png', title: 'Cùng Suzy cập nhật quy trình dưỡng da hoàn toàn mới', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})
- posts.push({img: '/dist/images/news-4.jpg', title: 'Chăm Sóc Da Dầu Mụn Với Dr.Belmeur', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})
- posts.push({img: '/dist/images/news-5.png', title: '8 bước vàng để có được làn da chuẩn mực như sao Hàn', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})
- posts.push({img: '/dist/images/news-6.png', title: 'Bí mật đằng sau những chiếc mặt nạ giấy', desc: 'Primer và Makeup Base đều là sản phẩm lót trang điểm giúp bảo vệ bề mặt da, ngăn ngừa tình trạng phấn trang điểm len lỏi vào lỗ chân lông gây bít tắc da và mụn cám. Mặc dù có cùng...', date: '08/05/2018', comment: 0})