- const items =[]
- items.push({img: '/dist/images/sp-1.jpg', name: 'Viên uống đẹp da', price: '250.000đ'})
- items.push({img: '/dist/images/sp-2.jpg', name: 'Kem dưỡng da toàn thân', price: '250.000đ'})
- items.push({img: '/dist/images/sp-3.jpg', name: 'Kem trị nám', price: '250.000đ'})
- items.push({img: '/dist/images/sp-4.jpg', name: 'Gel rửa mặt hạt nano vàng', price: '250.000đ'})
- items.push({img: '/dist/images/sp-5.jpg', name: 'Kem trị mụn', price: '250.000đ'})
- items.push({img: '/dist/images/sp-6.jpg', name: 'Kem dưỡng trắng trang điểm toàn thân', price: '250.000đ'})
- items.push({img: '/dist/images/sp-7.jpg', name: 'Kem dưỡng trắng hồng da', price: '250.000đ'})
- items.push({img: '/dist/images/sp-8.jpg', name: 'Kem dưỡng trắng da makeup ', price: '250.000đ'})