- const sliders =[]
- sliders.push({img: '/dist/images/banner.jpg'})
- sliders.push({img: '/dist/images/slide-1.jpg'})
- sliders.push({img: '/dist/images/slide-3.jpg'})
- sliders.push({img: '/dist/images/slide-2.jpg'})