extend ./layout/layout
block index
    include ./inc/header
    .container_page
        .container.py-5
            h2.container_subtitle.text-uppercase.text-center Xin Chào! 
            h6.text-center
                |Nếu bạn có bất kỳ câu hỏi hoặc ý kiến nào, hoặc chỉ muốn chào hỏi, vui lòng liên hệ với nhóm hỗ trợ thân thiện của chúng tôi 
            form(action="/", method="POST")
                .form-group.mt-4
                    .row
                        .col-md-4
                            input.form-control(type="text" placeholder="Tên của bạn...")
                        .col-md-4
                            input.form-control(type="email" placeholder="Email...")
                        .col-md-4
                            input.form-control(type="number" placeholder="Số điện thoại...")
                .form-group
                    textarea.form-control(placeholder="Vui lòng nhập nội dung cần h64 trợ.")
                .from-group.text-center
                    button.btn.btn-primary.btn-lg Gửi hỗ trợ
    .container
        .row.align-items-center.py-4
            .col-md-4
                .d-md-inline-flex.align-items-center
                    .fa.fa-map.fa-3x.mr-md-2.text-info
                    figure.mb-0.text-info
                        strong.d-block Địa Chỉ
                        small.mb-0.d-block Tầng 3, Tòa nhà GP INVEST, 170 Đê La Thành, P.Ô Chợ Dừa, Q.Đống Đa, HN
            .col-md-4
                .d-md-inline-flex.align-items-center
                    .fa.fa-envelope-o.fa-3x.mr-md-2.text-info
                    figure.mb-0
                        strong.d-block.text-info Email
                        small.mb-0.d-block
                            a(href="mailto:design@vutatech.vn") Design@vutatech.vn
            .col-md-4
                .d-md-inline-flex.align-items-center
                    .fa.fa-phone.fa-3x.mr-md-2.text-info
                    figure.mb-0
                        strong.d-block.text-info Điện Thoại
                        small.mb-0.d-block
                            a(href="tel:02546275555") (+84) 254 627 5555
                            span.mx-1 -
                            a(href="tel:02547300400") (+84) 2547 300 400


