
footer.bg-dark.py-3
    .container-fluid
        .row
            .col-sm-3.footer_info
                a.d-block.footer_logo(href="/")
                    img.w-100(src="/dist/images/logo.png", alt="")
                ul.nolist
                    li
                        i.fa.fa-home.mr-1.fa-lg
                        |Tầng 3, Tòa nhà GP INVEST, 170 Đê La Thành, P.Ô Chợ Dừa, Q.Đống Đa, HN
                    li.d-inline-flex
                        i.fa.fa-phone.fa-lg
                        p.mb-0
                            a(href="tel:02546275555") 
                                |Tổng đài hỗ trợ: (+84) 254 627 5555
                            a(href="tel:02547300400 ") 
                                |Số hotline ngoài giờ: (+84) 2547 300 400 
                    li
                        a(href="mailto:design@vutatech.vn")
                            i.fa.fa-phone.fa-lg
                            |Design@vutatech.vn
            .col-sm-3
            .col-sm-3
            .col-sm-3