footer
    .bg-dark.py-3.footer
        .container-fluid
            .row
                .col-md-3.footer_info.mb-md-0.mb-2
                    a.d-block.footer_logo.mb-1.text-md-left.text-center(href="/")
                        img.w-100(src="/dist/images/logo.png", alt="")
                    ul.nolist
                        li.d-inline-flex.align-items-center
                            i.fa.fa-home.mr-1.fa-lg.mr-1.p-1
                            p.mb-0 Tầng 3, Tòa nhà GP INVEST, 170 Đê La Thành, P.Ô Chợ Dừa, Q.Đống Đa, HN
                        li.d-inline-flex.align-items-center
                            i.fa.fa-phone.fa-lg.mr-1.p-1
                            p.mb-0
                                a(href="tel:02546275555") 
                                    |Tổng đài hỗ trợ: (+84) 254 627 5555
                                a(href="tel:02547300400 ") 
                                    |Số hotline ngoài giờ: (+84) 2547 300 400 
                        li.d-inline-flex.align-items-center
                            i.fa.fa-envelope.fa-lg.mr-1.p-1
                            p.mb-0
                                a(href="mailto:design@vutatech.vn")
                                    |Design@vutatech.vn
                .col-md-3.mb-2
                    h4.text-light.footer_title.mb-md-3.mb-1 HỖ TRỢ KHÁCH HÀNG
                    ul.nolist.footer_list
                        li
                            a(href='/') Hướng dẫn đặt mua hàng tại Suplo Beauty
                        li
                            a(href='/') Kinh nghiệm mua hàng cho bạn
                        li
                            a(href='/') Đối tác và đại lý
                        li
                            a(href='/') Phương thức thanh toán
                        li
                            a(href='/') Khách hàng phản hồi
                        li
                            a(href='/') Chính sách đổi trả hàng
                .col-md-3.mb-2
                    h4.text-light.footer_title.mb-md-3.mb-1 MUA SẮM CÙNG CHÚNG TÔI
                    ul.nolist.footer_list
                        li
                            a(href='/') Tin mới
                        li
                            a(href='/') Khuyến mại mới nhất tại cửa hàng
                        li
                            a(href='/') Địa điểm cửa hàng Movinaco
                        li
                            a(href='/') LYB-LOGGERS
                        li
                            a(href='/') Câu lạc bộ làm đẹp
                        li
                            a(href='/') SOCIAL HUB
                .col-md-3
                    h4.text-light.footer_title.mb-md-3.mb-1 ĐĂNG KÝ BẢN TIN
                    p.text-light Lấy giao dịch mới nhất và khuyến mại đặc biệt. 
                        |Nhập email của bạn và đăng ký để ký bản tin của chúng tôi.
                    form(action="")
                        .input-group.mb-3
                            input.form-control(type='text', placeholder="Địa chỉ email", aria-label="Địa chỉ email", aria-describedby='basic-addon2')
                            .input-group-append
                                button#basic-addon2.input-group-text(type='submit') Nhận Tin
    .bg-dark
        .container-fluid.text-center.py-1.text-light
            a.text-light(href="/") Copyrights © 2017 by HARAVAN. All Rights Reserved.


    