header
    .container
        .row
            .col-sm-6
                ul.w-100.d-sm-inline-flex.align.items.center.menu_social.nolist
                    li
                        a(href="")
                            i.fa.fa-phone.mr-1
                            |(+84) 934 323 882 
                    li
                        a(href="")
                            i.fa.fa-envelope.mr-1
                            |(+84) 934 323 882 
            .col-sm-6
                ul.w-100.d-sm-inline-flex.align.items.center.menu_top.nolist
                    li
                        a(href="/") Chính Sách
                    li
                        a(href="")
                    li
                        a(href="")
    .cart_show.effect#cart_show
        .cart_show_content
            a.cart_show_icon.text-white(href="#" toggle-menu="cart_show" over)
                i.fa.fa-shopping-cart.fa.lg
            .cart_show_box
                .cart_show_header
                    h3.cart_show_title.text-center Giỏ Hàng
                .cart_show_body
                    h4.text-center.d-block.py-2.text-light
                        |Vui lòng chọn sản phẩm
#over