.container_noibat.bg-light.py-5
    .container.text-center
        h3.container_title Sản phẩm
        h2.container_subtitle.text-uppercase Nổi bật
        .container_line_bottom.mb-2
            img(src="/dist/images/icon-title.png", alt="")
    .container-fluid
        .swiper-container.sp_slider
            .swiper-wrapper
                each item in items
                    .swiper-slide.py-1.d-block.text-center
                        .card.sp_hot
                            .sp_hotimg
                                img.card-img-top(src=item.img, alt=item.name)
                            .card-body
                                h5.card-title=item.name
                                h3.card-text=item.price                                
                            .card-footer.text-center
                                .sp_btn
                                    a.sp_btn(href='#') mua ngay
                    
            .swiper-button-next
            .swiper-button-prev